*{ padding: 0; margin: 0;}
body{
    margin: 0;
    padding: 0;
    background-color: black;
    background-image: url(/src/bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row; /* This sets the main axis to be horizontal (from left to right) */
    justify-content: space-around; /* Align items with space around them */
    align-items: center;
    height: 100vh;
}
.title{
    text-align: center;
    color: #d7cf2d;
    font-size: 9vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.input-div{
    margin-top: 30px;
    text-align: center;
}
.input-key{
    text-align: center;
    height: 50px;
    width: 50vh;
    padding: 0 20px;
    border: 7px solid #d7cf2d;
    border-radius: 100px;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif 
}
input:focus {
    outline: none;
}
.btn{
    display: none;
}
.thala-video video{
    justify-content: space-around; /* Align items with space around them */
    align-items: center; /* Center items vertically */
    height: 99vh;
    border-radius: 10px;
}

.reason{
    margin-top: 50px;
    text-align: center;
    color: #d7cf2d;
    font-size: 7vh;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    
}

.loading-indicator {
    font-size: 30px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    display: none; /* Initially hidden */
  }
  